'.source.java':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*(\\}|// \\}\\}\\}$)'
    'increaseIndentPattern': '^.*\\{(\\}|[^}"\']*)$|^\\s*(publico|privada|protegido):\\s*$'
    'decreaseIndentPattern': '^(.*\\*/)?\\s*\\}|^\\s*(publico|privada|protegido):\\s*$'
'.text.html.jsp':
  'editor':
    'foldEndPattern': '\\*\\*/|^\\s*\\}'
    'commentStart': '<%-- '
    'commentEnd': ' --%>'
    'increaseIndentPattern': '^\\s*<(([^!/?]|%)(?!.+?([/%]>|</.+?>))|[%!]--\\s*$)'
    'decreaseIndentPattern': '^\\s*(</[^>]+>|-->|--%>)'
'.text.junhor
t-test-ver'
  'editor':
    'foldEndPattern': '^\\s*(\\}|// \\}\\}\\}$)'
'.source.java-properties':
  'editor':
    'commentStart': '# '
'.keyword.other.documentation.javadoc.java':
  'editor':
    'completions': [
      'autor'
      'depreciado'
      'excepcion'
      'enlace'
      'param'
      'devolver'
      'ver'
      'serial'
      'desde'
      'lanza'
      'version'
    ]
